@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

body {
  background-color: #ffc0cb;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  font-family: "Bangers", cursive;
}

h1,
select {
  text-transform: uppercase;
  font-size: 50px;
  margin: 20px;
  background-color: rgba(250, 250, 250, 0.5);
  padding: 15px;
  border-radius: 20px;
  color: black;
}

.main-container {
  width: 100%;
  display: flex;
  align-items: space-between;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

select {
  margin: 20px;
  border-radius: 50px;
  letter-spacing: 0.7px;
  width: 350px;
  font-size: large;
  outline: none;
  text-align: center;
  background-color: black;
  color: whitesmoke;
  font-weight: bold;
}

button {
  margin: 20px 0;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 50px;
  width: 200px;
  font-size: large;
  letter-spacing: 0.7px;
}

.header-container {
  border-bottom: 8px solid antiquewhite;
  border-top: 4px solid antiquewhite;
}

.gif-container {
  border: 8px solid antiquewhite;
  margin: 0px 50px;
}

.gif-board {
  padding: 20px 50px;
}
